.sdmenu {
    background-color: #eceeeb;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.collapsed{
    display: contents;
}
.menuSpan{
    /*background: url("二级菜单/imgs/bottom.svg") no-repeat;;*/
    background: linear-gradient(#949492, #393b38);
    color: white;
    text-indent: 15px;
}
a {
    text-indent: 15px;
    color: #306e7a;
    /*border-color: red;*/
    /*border-width: 2px;*/
    border-bottom: 2px solid #dfe1de;
}

div.sdmenu div a:hover{
    background: #066 url("imgs/linkarrow.svg") no-repeat right center;
    color: #fff;
    text-decoration: none;
}

